{% extends "master.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block title %}
  Reset Password
{% endblock %}

{% block content %}
<script defer src="{% static 'scripts/password.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles/resetpass.css' %}">

<div id="error"></div>

<br> <br>
    <div class="form-container row d-flex justify-content-center align-items-center h-100 background_color">
        <form class="form-group col-md-6 border_color" action='/account/resetpassword/' method="post" id="form">{% csrf_token %}
            <br>
            <h3 class="text-center attention_color font_family">Change Password</h3>

            <div class="form-group mb-3">
                <label for="password" class = "regular_color font_family">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                <div><small id="passworderror" class="font_family" style="color: red;"></small></div>
            </div>

            <div class="form-group mb-3">
                 <label for="repeatPassword" class = "regular_color font_family">Repeat Password</label>
                 <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" placeholder="Repeat password" required>
                 <div> <small id="repeatPassworderror" class="font_family" style="color: red;"></small></div>
            </div>


        <div class="button-container d-flex justify-content-center align-items-center">
          <button type="submit" class="btn btn-lg button_color font_family d-flex justify-content-center" id="submit" style="width: 100px;">Change</button> &nbsp;
          <button type="reset" class="btn btn-lg button_color font_family d-flex justify-content-center" id="clear" style="width: 100px;">Clear</button>
        </div>
        <br>
        <br>
        </form>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="messageModal">
    <div class="modal-dialog border_color" role="document">
    <div class="modal-content background_color">
      <div class="modal-body">
        <p class="regular_color" id="message"></p>
      </div>
      <div class="modal-footer">
        <button id="mod" type="button" class="btn button_color font_family" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}