{% load static %}
<footer class=" text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase attention_color footer-header">Contact us</h5>

                    <ul class="list-unstyled mb-0 regular_color">
                        <li>
                            <a href="/selltickets" class="regular_color footer_link">Sell tickets to your concert</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase attention_color footer-header">About us</h5>

                    <ul class="list-unstyled regular_color mb-0">
                        <li>
                            <a class="btn btn-outline-light github_container btn-floating m-1" href="https://github.com/seneca-btp405/project1-group-20" role="button"
                            ><i class="exported_icon fab fa-github"></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase attention_color footer-header">Terms and agreement</h5>

                    <ul class="list-unstyled regular_color mb-0">
                        <li>
                            <a class="regular_color footer_link" href="{% static '/pdfs/terms.pdf' %}" download>View PDF</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 regular_color">
        <div><p>info@beatseeker.com</p></div>
        © <span class="footer-year"></span> Copyright 2023:
        <a class="attention_color beatseeker-link" href="/">BeatSeeker.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->