.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.button-container button {
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100px !important;
}

